<%- include('./layout/Header') %>
    <%- include('./layout/Navbar') %>        

        <div class="showcase">
            <br>
            <h1> <span class="badge bg-secondary">HELLO USER !</span></h1>
            <br>

           <div class="containerHome">
                
                <br>
               
                <h2> <span class="badge bg-secondary">You wanna learn Express ?</span></h2>

                <br>
                <h2> <span class="badge bg-secondary">Do you tired watching Tutoriel and you don't understand ?!</span></h2>
                <br>
                <h2> <span class="badge bg-secondary">Just Contact us and start your first cours</span></h2>
           

<%- include('./layout/Footer') %>   